.projects {
    padding: 4rem 2rem;
    text-align: center;

    .page-title {
        font-size: 3rem;
        margin-bottom: 3rem;
        color: #ffd700;
        font-family: "Coolvetica";
        font-weight: 400;
        text-shadow: #000;
        font-size: 60px;


    }



    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        .slide-cards {
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            letter-spacing: 1px;
            font-family: sans-serif;
            width: 100%;
            max-width: 700px;
            background: #5251511e;
            border-radius: 20px;
            padding: 2rem;
            text-align: left;
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
            display: flex;
            gap: 1.5rem;
            align-items: center;


            opacity: 0;
            transform: translateY(50px);
            animation: slideUp 2s ease forwards;



            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
            }



            .card-content {
                flex: 1;
            }

            .slide-cards:nth-child(1) {
                animation-delay: 0.2s;
            }

            .slide-cards:nth-child(2) {
                animation-delay: 0.5s;
            }
        }
    }

    @keyframes slideUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


.click-instruction {
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700, 0 0 20px #ffd700;

    opacity: 0;
    animation: fadeIn 1.5s ease-in-out 2.5s forwards;

}