.home-page{

    .text-zone{
        position: absolute;
        left: 9%;
        top: 50%;
        transform: translateY(-50%);
        width: 500%;
        max-height: 90%;
        text-align: left;
        
        
    }

    h1{
        color: #fff;
        font-size: 53px;
        margin: 0%;
        font-family: "Coolvetica";
        font-weight: 400;
        text-shadow: #000;
        
        
        &::before{
            content: "<h1>";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            top: -40px;
            left:  15px;
            opacity: 0.6;
            
        }
        &::after{
            content: "<h1/>";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;

        }

        img{
            width: 70px;
            height: 65px;
            transform: translate(-20%, 100%);
            margin-left: 15px;
            margin-bottom: -5px;
            margin-right: -8px;
            height: auto;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
            
        }
       
    }

    h2{
        color: #8d8d8d;
        margin-top: 10px;
        font-weight: 400;
        font-size: 11px;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color: #ffd700;
        font-size:13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding:10px 18px;
        border: 1px solid #ffd700;
        margin-top: 15px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 10px;
        animation: pulseglow 2s infinite ease-in-out;

        &:hover{
            background: #ffd700;
            color: #333;
            box-shadow: #ffd700;
            animation-play-state: paused;
            
        @keyframes pulseglow {
            0%{
                box-shadow: 0 0 5px #ffd700;
            }

            50%{
                box-shadow: 0 0 20px #ffd700;
            }

            100%{
                box-shadow: 0 0 5px #ffd700;
            }
            }
        }


    }
}


.loader {
  height: 100px;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask: conic-gradient(#000 0 0) content-box exclude,
        conic-gradient(#000 0 0);
  filter: blur(12px);
  z-index: 9999;
}
.loader:before {
  background-color: #000;
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#0000 0 5%, #ffd700, #0000 20% 50%);
  animation: l2 1.5s linear infinite;
}
@keyframes l2 {
  to {
    rotate: 1turn;
  }
}
