 @keyframes pulseglow {
     0% {
         box-shadow: 0 0 5px #ffd700;
     }

     50% {
         box-shadow: 0 0 20px #ffd700;
     }

     100% {
         box-shadow: 0 0 5px #ffd700;
     }
 }

 .contact-form {
     width: 100%;
     margin-top: 20px;
     left: 100px;


     ul {
         padding: 0;
         margin-left: -10px;

         li {
             padding: 0;
             margin: 0;
             list-style: none;
             margin-bottom: 10px;
             display: block;
             position: relative;
             opacity: 0;
             animation: fadeInUp 2s 2s;
             animation-fill-mode: forwards;
             clear: both;

         }

         li.half {
             width: 49%;
             margin-left: 2%;
             float: left;
             clear: none;

             &:first-child {
                 margin-left: 0;

             }
         }
     }

     input[type='text'],
     input[type='email'] {
         width: 100%;
         border: 0;
         background: #e6eaff1c;
         height: 50px;
         font-size: 16px;
         color: #fff;
         padding: 0 20px;
         box-sizing: border-box;
         border-radius: 10px;
         font-family: sans-serif;
         margin-left: -10px;
     }

     textarea {
         width: 100%;
         border: 0;
         background: #e6eaff1c;
         height: 50px;
         font-size: 16px;
         color: #fff;
         padding: 20px;
         min-height: 150px;
         box-sizing: border-box;
         border-radius: 10px;
         resize: none;
         font-family: sans-serif;
         margin-left: -10px;
     }

     .flat-button {
         color: #ffd770;
         background: transparent;
         font-size: 11px;
         letter-spacing: 3px;
         text-decoration: none;
         padding: 8px 10px;
         border: 1px solid #ffd700;
         border-radius: 10px;
         font-family: sans-serif;
         cursor: pointer;
         display: block;
         margin-left: 580px;

         animation: pulseglow 2s infinite ease-in-out;
         
         &:hover{
            background: #ffd700;
            color: #333;
            box-shadow: #ffd700;
            animation-play-state: paused;
         

        } 

     }

 }



 .content-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     width: 100%;
     height: 100vh;
     gap: 20px;

     .text-zone {
         width: 40%;
         position: relative;
         padding: 20px;
         box-sizing: border-box;
         margin-left: -50px;
     }
 }


 .map-wrap {
     background: rgba(66, 66, 66, 0.1);
     width: 50%;
     height: 70%;
     overflow: hidden;
     position: relative;
     z-index: 1;
     display: block;
     top: 50px;
     border-radius: 20px;
     right: 15px;

 }

 .info-map {
     position: absolute;
     background-color: rgba(0, 0, 0, 0.3);
     top: 50px;
     right: 15px;
     z-index: 999999;
     width: 300px;
     padding: 20px;
     color: #fff;
     font-family: 'Helvetica';
     font-size: 17px;
     font-weight: 300;
     opacity: 0;
     animation: fadeIn 1s 1.5s;
     animation-fill-mode: forwards;
     border-radius: 20px;


     span {
         font-size: 16px;
         display: block;
         padding-top: 20px;
         color: #ffd700;

     }
 }

 .leaflet-container {
     width: 100%;
     height: 100%;
     opacity: 0;
     animation: backInRight 1s 1.2s;
     animation-fill-mode: forwards;
}
